{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    <title>Se loger à Rennes</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="logo text-primary fa fa-home"></i>
                Se loger à <span class="text-primary">Rennes</span>
            </a>
        </div>
    </nav>
    <div class="page-holder bg-cover">
        <div class="container py-5">
          <header class="text-center text-white py-5">
            <h1 class="display-6 font-weight-bold mb-6">Trouvez un logement à Rennes</h1>
            <p class="lead">Agences immobilières & particuliers</p>
          </header>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="text-center mb-4 mt-4">
        selogerarennes © 2021
    </footer>
  </body>
</html>